# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.idea/
libexec/
play-scalikejdbc.iml
/conf/application.conf
conf/application.conf