## JDBC Datasource
# https://www.playframework.com/documentation/latest/JavaDatabase
# https://www.playframework.com/documentation/latest/ScalaDatabase
# ~~~~~
# Once JDBC datasource is set up, you can work with several different
# database options:
#
# Scalikejdbc : http://scalikejdbc.org
db {
  default {
    driver = org.postgresql.Driver
    url = "jdbc:postgresql://<dbhost>:5432/test_db"
    username = "username"
    password = "password"
    port = "5432"
    host = "<dbhost>"
    database = "<database>"
  }
}

# ScalikeJDBC original configuration
#db.default.poolInitialSize=10
#db.default.poolMaxSize=10
#db.default.poolValidationQuery=

scalikejdbc.global.loggingSQLAndTime.enabled = true
scalikejdbc.global.loggingSQLAndTime.singleLineMode = false
scalikejdbc.global.loggingSQLAndTime.logLevel = debug
scalikejdbc.global.loggingSQLAndTime.warningEnabled = true
scalikejdbc.global.loggingSQLAndTime.warningThresholdMillis = 5
scalikejdbc.global.loggingSQLAndTime.warningLogLevel = warn

play.modules.enabled += "scalikejdbc.PlayModule"
# scalikejdbc.PlayModule doesn't depend on Play's DBModule
play.modules.disabled += "play.api.db.DBModule"

# Evolutions
# ~~~~~
# Replaced with flywaydb and disabled
# Flyway : https://github.com/flyway/flyway-play
play.modules.enabled += "org.flywaydb.play.PlayModule"
play.evolutions.enabled = false

# Binding module
play.modules.enabled += "DIBindingModule"